.article {
    &__items {
        display: flex;
        flex-direction: column;
    }

    &__item {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    &__description {
        color: $black;
    }

    &__image {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }

    &__title {
        font-size: 14px;
        text-transform: uppercase;
        margin-top: 10px;
    }

    &__info {
        font-size: 12px;
        margin-top: 5px;
    }
}