.breadcrumbs {
    &-inner {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
    }

    &__list {
        display: flex;
        font-size: 12px;
        align-items: center;
        font-weight: 500;

        &-item {
            a {
                color: $black;
            }
        }
    }

    &-nav {
        display: flex;
        font-size: 12px;

        &__prev {
            display: flex;
            align-items: center;
            color: $black;
            margin-right: 15px;
        }

        &__next {
            display: flex;
            align-items: center;
            color: $black;
        }

        &__descr {
            display: none;
        }
    }
}