.btn {
  cursor: pointer;
  outline: none;

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    transition: 0.3 all;
    background: #01B263;
  }

  &:active {
    transition: 0.3 all;
    background: #014023;
  }

  &-subscribe {
    margin-top: 15px;
    border-radius: 5px;
    background: $green;
    height: 30px;
    width: 175px;
    padding: 0 5px;
    border: none;
    color: $white;
    text-transform: uppercase;
    font-size: 10px;
  }

  &-order {
    background-color: $green;
    color: $white;
    text-transform: uppercase;
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
  }

  &-promocode {
    width: 50%;
    border: none;
    height: 50px;
    border-radius: 5px;
    color: $white;
    background: $green;
    font-size: 12px;
    text-transform: uppercase;
  }
}