.cart {
    &-header {
        display: flex;
        flex-direction: column;
        background: $black;
        color: $white;
        text-align: center;
        padding: 15px 15px;
        text-transform: uppercase;

        &__promocode {
            display: flex;
            justify-content: center;
            border-radius: 5px;
            padding: 15px 0;
        }

        &__input {
            width: 51%;
            border: none;
            height: 50px;
            border-radius: 5px;
            background: $brown;
            left: 5px;

        }
    }

    &-delivery {
        width: 100%;
        background: $green;
        color: $white;
        padding: 15px 0;
        border-radius: 5px;
    }

    &-order {
        &__item {
            display: flex;
            margin-top: 15px;

            &-img {
                width: 40%;
                min-height: 80px;
                border-radius: 10px;
            }
        }
    }
}