.categories {
    &__grid {
        &--first {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1.7fr .3fr 1.7fr 1fr 1fr 1fr;
            gap: 15px 15px;
            grid-template-areas:
                "chest chairs"
                "chest racks"
                "consoles racks"
                "coffee coffee"
                "coffee coffee"
                "coffee coffee";
        }

        &--second {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1.7fr .3fr 1.7fr 1fr 1fr 1fr;
            gap: 15px 15px;
            grid-template-areas:
                "seats shelfs"
                "seats wardrobe"
                "tv-table wardrobe"
                "dinner dinner"
                "dinner dinner"
                "dinner dinner";
        }

        &--third {
            margin-top: 15px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1.7fr .3fr 1.7fr 1fr 1fr 1fr;
            gap: 15px 15px;
            grid-template-areas:
                "hangers bar-chairs"
                "hangers table"
                "shoe-cabinets table"
                "desk desk"
                "desk desk"
                "desk desk";
        }
    }

    &__link {
        min-height: 120px;
        border-radius: 5px;

        &--chest {
            grid-area: chest;
            background: url('../img/categories/chest/chest.webp');
            background-size: cover;
            background-position: center;
        }

        &--consoles {
            grid-area: consoles;
            background: url('../img/categories/consoles/console.webp');
            background-size: cover;
            background-position: center;
        }

        &--chairs {
            grid-area: chairs;
            background: url('../img/categories/chairs/chair.webp');
            background-size: cover;
            background-position: center;
        }

        &--racks {
            grid-area: racks;
            background: url('../img/categories/racks/rack.webp');
            background-size: cover;
            background-position: center;
        }

        &--coffee {
            grid-area: coffee;
            background: url('../img/categories/coffee-tables/coffee-table.webp');
            background-size: cover;
            background-position: center;
        }

        &--seats {
            grid-area: seats;
            background: url('../img/categories/seats/chair.webp');
            background-size: cover;
            background-position: center;
        }

        &--tv-table {
            grid-area: tv-table;
            background: url('../img/categories/tv-table/table.webp');
            background-size: cover;
            background-position: center;
        }

        &--shelfs {
            grid-area: shelfs;
            background: url('../img/categories/shelfs/shelfs.webp');
            background-size: cover;
            background-position: center;
        }

        &--wardrobe {
            grid-area: wardrobe;
            background: url('../img/categories/wardrobe/wardrobe.webp');
            background-size: cover;
            background-position: center;
        }

        &--dinner {
            grid-area: dinner;
            background: url('../img/categories/dinner-tables/dinner-table.webp');
            background-size: cover;
            background-position: center;
        }

        &--hangers {
            grid-area: hangers;
            background: url('../img/categories/hangers/hangers.webp');
            background-size: cover;
            background-position: center;
        }

        &--bar-chairs {
            grid-area: bar-chairs;
            background: url('../img/categories/bar-chairs/bar-chair.webp');
            background-size: cover;
            background-position: center;
        }

        &--shoe-cabinets {
            grid-area: shoe-cabinets;
            background: url('../img/categories/shoe-cabinets/shoe-cabinet.webp');
            background-size: cover;
            background-position: center;

        }

        &--table {
            grid-area: table;
            background: url('../img/categories/table/table.webp');
            background-size: cover;
            background-position: center;
        }

        &--desk {
            grid-area: desk;
            background: url('../img/categories/desk-tables/write-table.webp');
            background-size: cover;
            background-position: center;
        }
    }

    &__name {
        top: 12px;
        left: 10px;
        color: $white;
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        background: $green;
        padding: 5px;
        opacity: 0.8;
        border-radius: 5px;
    }
}