.catalog {
    &-categories {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        background: $green;
        padding: 15px 0;
        margin: 15px 0;
        color: $white;
        border-radius: 5px;
        height: 39px;
        font-size: 12px;
        line-height: 0.8;
    }

    &-inner {
        display: flex;
        flex-direction: column;
    }

    &-nav {
        display: none;
    }

    &-list {

        li {
            padding: 10px 0;
        }
    }

    &-link {
        color: $black;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 2px solid $green;
    }

    &-item {
        padding: 15px 0;

        &__img {
            width: 100%;
            border-radius: 5px;
        }

        &__description {
            &-inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
                color: $black;
            }
        }

        &__type {
            font-size: 14px;
            font-weight: 500;
        }

        &__name {
            color: $green;
            text-transform: uppercase;
            font-size: 18px;
            margin-top: 15px;
        }

        &__price {
            font-size: 18px;
            line-height: 0.4;
            font-weight: 500;

            &-cursive {
                font-size: 14px;
            }
        }
    }

    .accordion {
        &-container {
            position: relative;
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 15px;
        }

        &__content {
            border-bottom: 2px solid $green;
            display:none;
        }
        &__set {
            position: relative;
            width: 100%;
            height: auto;
        }
        &__button {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: $white;
            background: $green;
            text-align: center;
            font-weight: 500;
            border-radius: 5px;
            -webkit-transition:all 0.2s linear;
            -moz-transition:all 0.2s linear;
            transition:all 0.2s linear;
            span {
                margin-left: 15px;
            }

        }
        &__catalog {
            &-list {
                padding: 15px 0;
                li {
                padding: 5px 0;
                }
            }
            &-link {
                color: $black;
                font-size: 16px;
                font-weight: 500;
                border-bottom: 2px solid $green;
            }
        }
    }
}