@media (min-width: 375px) {
    .article {
        &__title {
            font-size: 14px;
        }

        &__info {
            font-size: 12px;
        }
    }
}

@media (min-width: 425px) {
    .article {
        &__title {
            font-size: 16px;
        }

        &__info {
            font-size: 14px;
        }
    }
}

@media (min-width: 768px) {
    .article {
        &__items {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__item {
            width: 32%;
            display: flex;
            flex-direction: column;

            &-reverse {
                display: flex;
                flex-direction: column;
            }
        }

        &__image {
            width: 100%;
        }

        &__description {
            width: 100%;
        }

        &__title {
            font-size: 16px;
            margin-top: 15px;
            min-height: 40px;
        }

        &__info {
            font-size: 14px;
            margin-top: 10px;
            min-height: 72px;
        }
    }
}