@media (min-width: 640px) {
    .catalog {
        &-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-item {
            width: 47%;
        }
    }
}

@media (min-width: 768px) {
    .catalog {

        &-items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &-item {
            width: 47%;
        }
    }
}

@media (min-width: 1024px) {
    .catalog {
        &-inner {
            display: flex;
            flex-direction: row;
        }
        .accordion-container {
            display: none;
        }

        &-nav {
            display: flex;
            width: 20%;
        }

        &-items {
            width: 80%;
        }
    }
}