@media (min-width: 425px) {
    .footer {
        &__link {
            font-size: 16px;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        &-inner {
            display: flex;
            justify-content: space-between;
        }

        &-categories {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 50%;

            &__item {
                display: flex;
                flex-direction: column;

                li {
                    padding: 5px 0;
                }
            }

            &__title {
                font-size: 16px;
                color: $white;
                text-transform: uppercase;
                font-weight: 500;
            }

            &__link {
                color: $white;
                font-size: 14px;

                &:hover {
                    transition: 0.5s all;
                    color: $green;
                }
            }
        }

        &-phone {
            &__description {
                font-size: 10px;
            }
        }

        .subscribe {
            &__info {
                font-size: 10px;
            }
        }

        &-copyright {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-size: 12px;
            &__description {
                margin-top: 0;
            }
        }
    }

    @media (min-width: 1024px) {
        .footer {
            &-categories {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                width: 55%;

                &__item {
                    &:nth-child(3) {
                        margin-top: 0;
                    }

                    &:nth-child(4) {
                        margin-top: 0;
                    }
                }

                li {
                    padding: 10px 0;
                }
            }

            &__icon {
                font-size: 32px;
            }

            &-phone {
                &__link {
                    font-size: 24px;
                }

                &__description {
                    font-size: 14px;
                }
            }

            &-mail {
                font-size: 24px;
            }

            .subscribe {
                &__info {
                    max-width: 250px;
                }

                &__form {
                    input {
                        width: 230px;
                    }
                }
            }
            &-copyright {
               font-size: 14px;
               margin-top: 15px;
               &__description {
                   font-size: 10px;
               }
            }
        }
    }
}