@media (min-width: 320px) {
    .head {
        .container {
            &:before {
                display: none;
            }
        }
    }
}

@media (min-width: 375px) {
    .head {
        .main-slider {
            &__item {
                background-image: url('../img/head/slide-1/slide_bg-large.webp');
                min-height: 250px;

                &:nth-child(2) {
                    background-image: url('../img/head/slide-2/slide_bg-large.webp');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                &:nth-child(3) {
                    background-image: url('../img/head/slide-3/slide_bg-large.webp');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &__title {
                font-size: 24px;
            }

            &__subtitle {
                font-size: 16px;
            }

            .slick-dots {
                top: 35%;
                left: 10px;
            }
        }
    }
}

@media (min-width: 425px) {
    .head {
        .main-slider {
            &__item {
                background-image: url('../img/head/slide-1/slide_bg-tablet.webp');
                min-height: 460px;

                &:nth-child(2) {
                    background-image: url('../img/head/slide-2/slide_bg-tablet.webp');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                &:nth-child(3) {
                    background-image: url('../img/head/slide-3/slide_bg-tablet.webp');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &__description {
                margin-left: 30px;
            }

            &__title {
                font-size: 26px;
                margin-top: 100px;
            }

            &__subtitle {
                margin-top: 15px;
                font-size: 24px;
            }

            &__link {
                padding: 15px 30px;
                font-size: 14px;
                margin-top: 30px;
            }

            .slick-dots {
                top: 43%;

                button {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .head {
        .container {
            &:before {
                display: block;
                content: url('../img/head/tree-tablet.webp');
                position: absolute;
                top: 0;
                right: -10%;
                min-height: 533px;
                z-index: 2;
            }
        }

        .main-slider {
            &__description {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                margin-right: 90px;
            }

            &__title {
                text-align: right;
                font-size: 40px;
            }

            &__subtitle {
                text-align: right;
                font-size: 22px;
            }
        }
    }
}


@media (min-width: 1024px) {
    .head {
        .container {
            &:before {
                content: url('../img/head/tree-desktop.webp');
                top: 8%;
                right: -10%;
            }
        }

        .main-slider {
            &__item {
                background-image: url('../img/head/slide-1/slide_bg-desktop.webp');
                min-height: 600px;

                &:nth-child(2) {
                    background-image: url('../img/head/slide-2/slide_bg-desktop.webp');
                    background-repeat: no-repeat;
                    background-position: center center;
                }

                &:nth-child(3) {
                    background-image: url('../img/head/slide-3/slide_bg-desktop.webp');
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }

            &__description {
                margin-right: 180px;
            }

            &__title {
                margin-top: 150px;
                font-size: 50px;
                font-weight: 500;
            }

            &__subtitle {
                font-size: 28px;
                margin-top: 15px;
                font-weight: 300;
            }

            .slick-dots {
                top: 254px;
                left: 30px;

                button {
                    width: 13px;
                    height: 13px;

                    &:active {
                        background-color: $green;
                    }
                }
            }
        }
    }
}

@media (min-width: 1170px) {
    .head {
        .container {
            &:before {
                content: url('../img/head/tree-desktop.webp');
                top: 5%;
                right: -8%;
            }
        }
    }
}