@media (min-width: 425px) {
    .product {
        &-card{
            &__order {
                &-price {
                    font-size: 24px;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .product {
        &-card {
            display: flex;
            justify-content: space-between;

            &__inner {
                &-slider {
                    display: flex;
                    flex-direction: column;
                    width: 49%;
                }

                &-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 49%;
                }
            }

            &__info {
                &-description {
                    font-size: 12px;
                }
            }

            &__tabs {
                display: flex;
                flex-direction: row;
                font-size: 10px;
                justify-content: space-between;
                margin-top: 0;
            }

            &__materials {
                display: flex;
                justify-content: space-between;



                &-description {
                    font-size: 12px;
                    padding-top: 5px;
                }
            }

            &__order {
                display: flex;
                align-items: flex-end;
                margin-top: 15px;
            }

        }
    }
}

@media (min-width: 1024px) {
    .product {
        &-card {
            &__options {
                height: 300px;
            }

            &__info {
                justify-content: space-between;

                &-description {
                    font-size: 16px;
                }
            }

            &__materials {
                display: flex;
                justify-content: space-between;

                &-item {
                    font-size: 16px;
                }

                &-description {
                    font-size: 16px;
                }
            }

            &__tabs {
                font-size: 14px;
            }

            &__tab {
                &-paragraph {
                    font-size: 16px;
                }

                &-link {
                    font-size: 16px;
                }
            }

        }
    }
}