@media (min-width: 375px) {
    .title {
        &-section {
            font-size: 22px;
        }
    }
}

@media (min-width: 425px) {
    .title {
        &-section {
            font-size: 24px;
        }
    }
}

@media (min-width: 768px) {
    .title {
        &-section {
            font-size: 30px;
        }
    }
}

@media (min-width: 1170px) {
    .title {
        &-section {
            font-size: 32px;
            margin-top: 60px;
        }
    }
}