@import "base/variables";
@import "libs/fonts";
@import "libs/normalize";
@import "libs/slick-slider";
@import "libs/aos";
@import "libs/animate";
@import "blocks/header";
@import "media/header_media";
@import "blocks/buttons";
@import "media/buttons_media";
@import "blocks/head";
@import "media/head_media";
@import "blocks/categories";
@import "media/categories_media";
@import "blocks/catalog";
@import "media/catalog_media";
@import "blocks/popular";
@import "media/popular_media";
@import "blocks/titles";
@import "media/titles_media";
@import "blocks/article";
@import "media/article_media";
@import "blocks/footer";
@import "media/footer_media";
@import "blocks/breadcrumbs";
@import "media/breadcrumbs_media";

// Basic

* {
  font-family: "Geometria", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  body {
    min-width: 320px;
    overflow-x: hidden;
  }
}

.container {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1170px) {
  .container {
    margin: 0 auto;
    max-width: 1170px;
  }
}